{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "node": "current" },
      "corejs": "2.6.9",
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
